<?xml version="1.0"?>
<configuration>

  <configSections>
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core"/>
      <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core"/>
      <section name="parsers" type="Spring.Context.Support.NamespaceParsersSectionHandler, Spring.Core"/>
      <section name="typeAliases" type="Spring.Context.Support.TypeAliasesSectionHandler, Spring.Core"/>
    </sectionGroup>
    <section name="ApplicationSettings" type="System.Configuration.NameValueSectionHandler"/>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging"/>
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>

  <ApplicationSettings>
  </ApplicationSettings>

  <spring>
    <context>
      <resource uri="config://spring/objects"/>
      <resource uri="assembly://Alstom.Configuration/Alstom.Configuration/Persistence.xml"/>
      
    </context>
    <parsers>
      <parser type="Spring.Data.Config.DatabaseNamespaceParser, Spring.Data"/>
      <parser type="Spring.Transaction.Config.TxNamespaceParser, Spring.Data"/>
    </parsers>

    <objects xmlns="http://www.springframework.net" xmlns:db="http://www.springframework.net/database" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.springframework.net http://www.springframework.net/schema/objects/spring-objects-1.1.xsd" xmlns:tx="http://www.springframework.net/tx">

    
      <db:provider id="DbProvider"
                      provider="System.Data.SqlClient"
                      connectionString="Data Source=localhost;Initial Catalog=Test;Integrated Security=True"/>

      <object id="DataBaseSchemaCreation" type="Alstom.Tools.DataBaseSchemaCreation, Alstom.Tools">
        <property name="SessionFactory" ref="&amp;SessionFactory"/>
      </object>

    </objects>
  </spring>
  <log4net>
    <appender name="GeneralRollingFile" type="log4net.Appender.RollingFileAppender,log4net">
      <param name="File" value="C:\Logs\ALOS.Tools.Log.txt"/>
      <param name="AppendToFile" value="true"/>
      <param name="DatePattern" value="dd.MM.yyyy"/>
      <layout type="log4net.Layout.PatternLayout,log4net">
        <conversionPattern value="%d{HH:mm:ss} [%t] %-5p %c - %m%n"/>
      </layout>
    </appender>

    <appender name="NHibernateRollingFile" type="log4net.Appender.RollingFileAppender,log4net">
      <param name="File" value="C:\Logs\ALOS.Tools.NHGeneralLog.txt"/>
      <param name="AppendToFile" value="true"/>
      <param name="DatePattern" value="dd.MM.yyyy"/>
      <layout type="log4net.Layout.PatternLayout,log4net">
        <conversionPattern value="%d{HH:mm:ss} [%t] %-5p %c - %m%n"/>
      </layout>
    </appender>

    <root>
      <level value="DEBUG"/>
      <appender-ref ref="GeneralRollingFile"/>
    </root>
    <logger name="NHibernate.SQL" additivity="false">
      <level value="DEBUG"/>
      <appender-ref ref="NHibernateRollingFile"/>
    </logger>

  </log4net>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
